<style type="text/css">
  <!--
* { margin: 0;
   padding: 0;}
   
@font-face {
	font-family: Champagne;
 	src: url('../../public/fonts/Champagne.ttf');
}
		   
body, html{ 
           font-family: Champagne;
	   width: 100%;
           height: 100%;
           overflow: hidden;}
	
headline{
	font-size: 40px;
	font-style: normal;
	color: #ffffff;
}

largetext{
	font-size: 22px;
	font-style: normal;
	color: #ffffff;
}

normaltext{
	font-size: 18px;
	font-style: normal;
	color: #ffffff;
}
 
input{
    color: #ffffff; 
    font-size: 14px; 
    border: 0px solid #4c4c4c; 
    background-color: #4c4c4c; 
    height: 40px; 
    width: 300px;   
    padding: 0px;
}	

form{
	 color: #ffffff;
	 font-size: 22px;
}


a:link{ 
	color: #ffffff;
}

a:visited{ 
	color: #ffffff;
}

#bgImg{ position: absolute;
       top: 0;
       left: 0;
       border: 0;
       z-index: 1;
       width: 100;
       height: 100;
	background-attachment:inherit;
}
#logoImg{ position: absolute;
       top: 0;
       left: 0;
       border: 0;
       z-index: 1;
       width: 400px;
       height: 400px;
}
#logosmallImg{ position: absolute;
       top: 0;
       left: 0;
       border: 0;
       z-index: 1;
       width: 150px;
       height: 150px;
}
/* Body-Dummy absolut über BG-Image legen; Scrollbar bei Bedarf einblenden */
#bodyDiv{ position: absolute;
         top: 0;
         left: 0;
         z-index: 2;	
         width: 100%;
         height: width;
         text-align: left;
}
#logoDiv{
	    width: 400px;
            height: 400px;
}
#contentDiv{
            background: #990000;
	    margin-top: -400px;    
            margin-left: 400px;
            height: 400px;
}	
#logosmallDiv{
	    width: 150px;
            height: 150px;
}
#contentsmallDiv{
            background: #990000;
	    margin-top: -150px;    
            margin-left: 150px;
            height: 150px;
}
#content{
            margin-left: 100px;
}
//-->
</style>